BattleTank/Content/StarterContent/
BattleTank/Content/Tank/tank_fbx_Barrel.uasset
BattleTank/Content/BattleGround_BuiltData.uasset
BattleTank/Content/BattleGround.umap
BattleTank/Content/BattleGround_sharedassets/Dirt_LayerInfo.uasset
BattleTank/Content/Tank/Tank_BP.uasset
BattleTank/Content/BattleGround_sharedassets/Grass_LayerInfo.uasset
BattleTank/Content/Landscape.uasset
BattleTank/Content/Tank/tank_fbx_Body.uasset
BattleTank/Content/Tank/tank_fbx_Track.uasset
BattleTank/Content/Tank/tank_fbx_Turret.uasset
